@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*variables*/
/*color voga*/
/*font family*/
/*color font*/
/*color navbar 2*/
/*mixin*/
.header-2 {
  font-family: "Kumbh Sans", sans-serif; }
  .header-2 header .navegacion {
    background-color: #f8f9fa;
    color: #FFC700; }
    .header-2 header .navegacion .menu {
      padding: 2%; }
      .header-2 header .navegacion .menu .opciones ul li .lentes {
        color: #FFC700; }
      .header-2 header .navegacion .menu .botones {
        display: flex;
        justify-content: center;
        gap: 10px; }
        .header-2 header .navegacion .menu .botones .boton-findus {
          margin-right: 30px;
          display: flex;
          justify-content: center; }
          .header-2 header .navegacion .menu .botones .boton-findus a {
            color: #FFC700;
            text-decoration: none;
            padding: 10px; }
          .header-2 header .navegacion .menu .botones .boton-findus .location {
            margin-top: 8px;
            width: 25px;
            height: 25px; }
        .header-2 header .navegacion .menu .botones .boton-signin {
          background-color: #FFC700; }
          .header-2 header .navegacion .menu .botones .boton-signin a {
            color: #f8f9fa;
            text-decoration: none; }
        .header-2 header .navegacion .menu .botones .boton-joinus {
          background-color: #f8f9fa;
          border-color: #FFC700;
          border-style: solid;
          border-width: 1px; }
          .header-2 header .navegacion .menu .botones .boton-joinus a {
            color: #FFC700;
            text-decoration: none;
            padding: 10px; }
  .header-2 header .voga .logo a {
    display: flex;
    justify-content: center; }
    .header-2 header .voga .logo a img {
      display: flex;
      justify-content: center;
      width: 30%; }

/*extend*/
diseño-tipo, .header-2 header .navegacion, body header .navegacion {
  font-size: 0.9rem;
  letter-spacing: 1px; }

formato-banners, body main .banner-opticos, body main .banner-sol, body main .banner-beneficios {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30%; }

formato-boton, .header-2 header .navegacion .menu .botones .boton-signin, .header-2 header .navegacion .menu .botones .boton-joinus, body header .navegacion .menu .botones .boton-signin, body header .navegacion .menu .botones .boton-joinus {
  padding: 10px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px; }

/*home*/
/*header*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body header .navegacion {
    background-color: #FFC700; }
    body header .navegacion .menu {
      padding: 2%; }
      body header .navegacion .menu h1 a img {
        width: 28%; }
        @media screen and (max-width: 600px) {
          body header .navegacion .menu h1 a img {
            max-width: 15%; } }
      body header .navegacion .menu .botones {
        display: flex;
        justify-content: center;
        gap: 10px; }
        body header .navegacion .menu .botones .boton-findus {
          margin-right: 30px;
          display: flex;
          justify-content: center; }
          body header .navegacion .menu .botones .boton-findus a {
            color: #f8f9fa;
            text-decoration: none;
            padding: 10px; }
          body header .navegacion .menu .botones .boton-findus .location {
            margin-top: 8px;
            width: 25px;
            height: 25px; }
        body header .navegacion .menu .botones .boton-signin {
          background-color: #f8f9fa; }
          body header .navegacion .menu .botones .boton-signin a {
            color: #FFC700;
            text-decoration: none; }
        body header .navegacion .menu .botones .boton-joinus {
          background-color: #FFC700;
          border-color: #f8f9fa;
          border-style: solid;
          border-width: 1px; }
          body header .navegacion .menu .botones .boton-joinus a {
            color: #f8f9fa;
            text-decoration: none;
            padding: 10px; }
  body header .voga .logo a {
    display: flex;
    justify-content: center; }
    body header .voga .logo a img {
      display: flex;
      justify-content: center;
      width: 30%; }

/*css home*/
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #FFC700; }
  @media screen and (max-width: 600px) {
    body main {
      height: 80vh; } }
  body main .banner-opticos img {
    width: 100%; }
  body main .banner-sol img {
    width: 100%; }
  body main .banner-beneficios a {
    margin-left: 10%;
    position: absolute;
    font-size: 8rem;
    color: #f8f9fa;
    text-decoration: none;
    font-weight: 900;
    top: 460%;
    left: 50%; }
  body main .banner-beneficios img {
    width: 100%; }

/*footer*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body .social-media {
    background-color: #FFC700;
    text-align: center;
    height: 10vh; }
    body .social-media img {
      height: 30px;
      width: 30px;
      margin: 20px; }

/*lentes opticos*/
/*header*/
.header-2 {
  font-family: "Kumbh Sans", sans-serif; }
  .header-2 header .navegacion {
    background-color: #f8f9fa;
    color: #FFC700; }
    .header-2 header .navegacion .menu {
      padding: 2%; }
      .header-2 header .navegacion .menu .opciones ul li .lentes {
        color: #FFC700; }
      .header-2 header .navegacion .menu .botones {
        display: flex;
        justify-content: center;
        gap: 10px; }
        .header-2 header .navegacion .menu .botones .boton-findus {
          margin-right: 30px;
          display: flex;
          justify-content: center; }
          .header-2 header .navegacion .menu .botones .boton-findus a {
            color: #FFC700;
            text-decoration: none;
            padding: 10px; }
          .header-2 header .navegacion .menu .botones .boton-findus .location {
            margin-top: 8px;
            width: 25px;
            height: 25px; }
        .header-2 header .navegacion .menu .botones .boton-signin {
          background-color: #FFC700; }
          .header-2 header .navegacion .menu .botones .boton-signin a {
            color: #f8f9fa;
            text-decoration: none; }
        .header-2 header .navegacion .menu .botones .boton-joinus {
          background-color: #f8f9fa;
          border-color: #FFC700;
          border-style: solid;
          border-width: 1px; }
          .header-2 header .navegacion .menu .botones .boton-joinus a {
            color: #FFC700;
            text-decoration: none;
            padding: 10px; }
  .header-2 header .voga .logo a {
    display: flex;
    justify-content: center; }
    .header-2 header .voga .logo a img {
      display: flex;
      justify-content: center;
      width: 30%; }

/*css lentesdesol*/
/*banner*/
.header-2 {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #f8f9fa;
  /*productos*/ }
  .header-2 p {
    margin-left: 44%;
    color: #f8f9fa;
    background-color: #FFC700;
    padding: 5px 2px 5px 2px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem; }
    @media screen and (max-width: 600px) {
      .header-2 p {
        margin: auto;
        max-width: 20%;
        font-size: 0.5rem; } }
  .header-2 .productos {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%; }
    @media screen and (max-width: 600px) {
      .header-2 .productos {
        margin: auto;
        max-width: 80%;
        padding-right: 8%; } }
    .header-2 .productos div {
      display: flex;
      justify-content: center;
      margin: 20px;
      flex-wrap: wrap; }
      @media screen and (max-width: 600px) {
        .header-2 .productos div {
          overflow: scroll;
          display: grid;
          gap: 10%;
          padding: 0;
          height: 100%;
          width: 100%; } }
      .header-2 .productos div img {
        height: 10%;
        width: 10%; }
        @media screen and (max-width: 600px) {
          .header-2 .productos div img {
            height: 150px;
            width: 150px; } }
      .header-2 .productos div .sombra {
        margin: 30px;
        box-shadow: 0px 8px 8px #1a1c2335;
        border-radius: 200px; }

/*footer*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body .social-media {
    background-color: #FFC700;
    text-align: center;
    height: 10vh; }
    body .social-media img {
      height: 30px;
      width: 30px;
      margin: 20px; }

/*lentes de sol*/
/*header*/
.header-2 {
  font-family: "Kumbh Sans", sans-serif; }
  .header-2 header .navegacion {
    background-color: #f8f9fa;
    color: #FFC700; }
    .header-2 header .navegacion .menu {
      padding: 2%; }
      .header-2 header .navegacion .menu .opciones ul li .lentes {
        color: #FFC700; }
      .header-2 header .navegacion .menu .botones {
        display: flex;
        justify-content: center;
        gap: 10px; }
        .header-2 header .navegacion .menu .botones .boton-findus {
          margin-right: 30px;
          display: flex;
          justify-content: center; }
          .header-2 header .navegacion .menu .botones .boton-findus a {
            color: #FFC700;
            text-decoration: none;
            padding: 10px; }
          .header-2 header .navegacion .menu .botones .boton-findus .location {
            margin-top: 8px;
            width: 25px;
            height: 25px; }
        .header-2 header .navegacion .menu .botones .boton-signin {
          background-color: #FFC700; }
          .header-2 header .navegacion .menu .botones .boton-signin a {
            color: #f8f9fa;
            text-decoration: none; }
        .header-2 header .navegacion .menu .botones .boton-joinus {
          background-color: #f8f9fa;
          border-color: #FFC700;
          border-style: solid;
          border-width: 1px; }
          .header-2 header .navegacion .menu .botones .boton-joinus a {
            color: #FFC700;
            text-decoration: none;
            padding: 10px; }
  .header-2 header .voga .logo a {
    display: flex;
    justify-content: center; }
    .header-2 header .voga .logo a img {
      display: flex;
      justify-content: center;
      width: 30%; }

/*css lentesdesol*/
/*banner*/
.header-2 {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #f8f9fa;
  /*productos*/ }
  .header-2 p {
    margin-left: 44%;
    color: #f8f9fa;
    background-color: #FFC700;
    padding: 5px 2px 5px 2px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem; }
    @media screen and (max-width: 600px) {
      .header-2 p {
        margin: auto;
        max-width: 20%;
        font-size: 0.5rem; } }
  .header-2 .productos {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%; }
    @media screen and (max-width: 600px) {
      .header-2 .productos {
        margin: auto;
        max-width: 80%;
        padding-right: 8%; } }
    .header-2 .productos div {
      display: flex;
      justify-content: center;
      margin: 20px;
      flex-wrap: wrap; }
      @media screen and (max-width: 600px) {
        .header-2 .productos div {
          overflow: scroll;
          display: grid;
          gap: 10%;
          padding: 0;
          height: 100%;
          width: 100%; } }
      .header-2 .productos div img {
        height: 10%;
        width: 10%; }
        @media screen and (max-width: 600px) {
          .header-2 .productos div img {
            height: 150px;
            width: 150px; } }
      .header-2 .productos div .sombra {
        margin: 30px;
        box-shadow: 0px 8px 8px #1a1c2335;
        border-radius: 200px; }

/*footer*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body .social-media {
    background-color: #FFC700;
    text-align: center;
    height: 10vh; }
    body .social-media img {
      height: 30px;
      width: 30px;
      margin: 20px; }

/*join*/
/*css join*/
.form {
  font-family: "Kumbh Sans", sans-serif;
  color: #f8f9fa;
  display: flex;
  justify-content: center; }
  .form .crear-cuenta {
    margin: 10%;
    display: inline-block;
    justify-items: center; }
    .form .crear-cuenta .beneficios-voga {
      text-align: center;
      margin: 20px;
      padding: 10px; }
      .form .crear-cuenta .beneficios-voga h2 {
        padding-bottom: 50px;
        font-weight: 900;
        letter-spacing: 3px; }
      .form .crear-cuenta .beneficios-voga h3 {
        font-size: 1em;
        font-weight: 700; }
    .form .crear-cuenta .completar {
      display: flex;
      justify-content: center;
      padding: auto; }
      .form .crear-cuenta .completar h4 {
        text-align: center;
        padding: 20px; }
      .form .crear-cuenta .completar input {
        margin: 2%;
        padding-left: 5%;
        padding-right: 150px;
        background-color: #FFC700;
        border-radius: 50px;
        color: #f8f9fa;
        border: 2px solid #f8f9fa;
        outline: 0; }
      .form .crear-cuenta .completar ::placeholder {
        padding-left: 5px;
        color: white;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 0.7em; }
      .form .crear-cuenta .completar .info {
        text-align: center;
        padding: auto; }
        .form .crear-cuenta .completar .info p {
          font-size: 1rem;
          text-align: center;
          padding-top: 20px;
          font-weight: 500; }
        .form .crear-cuenta .completar .info .btn-registrar {
          margin-top: 10%; }
          .form .crear-cuenta .completar .info .btn-registrar .boton {
            color: #FFC700;
            background-color: #f8f9fa;
            border-radius: 100px;
            padding: 5px 40px 5px 40px;
            border: 0; }
  .form .logoFooter {
    padding-top: 20%;
    padding-left: 3%;
    display: flex;
    justify-content: center; }
    .form .logoFooter h1 a {
      display: flex;
      justify-content: center; }
      .form .logoFooter h1 a img {
        width: 300px; }

/*login*/
.form-login {
  font-family: "Kumbh Sans", sans-serif;
  color: #f8f9fa;
  display: flex;
  justify-content: center; }
  .form-login .crear-cuenta {
    margin: 10%;
    display: inline-block;
    justify-items: center; }
    .form-login .crear-cuenta .beneficios-voga {
      text-align: center;
      margin: 20px;
      padding: 10px; }
      .form-login .crear-cuenta .beneficios-voga h2 {
        padding-bottom: 50px;
        font-weight: 900;
        letter-spacing: 3px; }
    .form-login .crear-cuenta .completar {
      display: flex;
      justify-content: center;
      padding: auto; }
    .form-login .crear-cuenta .input-login {
      margin: 2%;
      padding-left: 5%;
      padding-right: 150px;
      background-color: #f8f9fa;
      border-radius: 50px;
      color: #f8f9fa;
      border: 2px solid #FFC700;
      outline: 0; }
    .form-login .crear-cuenta ::placeholder {
      padding-left: 5px;
      color: #FFC700;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 0.7em; }
    .form-login .crear-cuenta .info-login {
      text-align: center;
      padding: auto; }
      .form-login .crear-cuenta .info-login p {
        font-size: 1rem;
        text-align: center;
        padding-top: 20px;
        font-weight: 500; }
      .form-login .crear-cuenta .info-login .btn-entrar {
        margin-top: 10%; }
        .form-login .crear-cuenta .info-login .btn-entrar .boton {
          color: #f8f9fa;
          background-color: #FFC700;
          border-radius: 100px;
          padding: 5px 40px 5px 40px;
          border: 2px solid #f8f9fa; }

.logoFooter {
  padding-top: 20%;
  padding-left: 3%;
  display: flex;
  justify-content: center; }
  .logoFooter h1 a {
    display: flex;
    justify-content: center; }
    .logoFooter h1 a img {
      width: 300px; }
