@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*variables*/
/*color voga*/
/*font family*/
/*color font*/
/*mixin*/
/*extend*/
diseño-tipo, body header .navegacion {
  font-size: 0.9rem;
  letter-spacing: 1px; }

formato-banners, body main .banner-opticos, body main .banner-sol, body main .banner-beneficios {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30%; }

formato-boton, body header .navegacion .menu .botones .boton-signin, body header .navegacion .menu .botones .boton-joinus {
  padding: 10px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px; }

/*inicio*/
/*inicio*/
.inicio {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5; }
  .inicio main .voga-logo {
    position: absolute;
    top: 135%;
    left: 30%; }
    .inicio main .voga-logo h1 img {
      width: 100%;
      position: sticky; }
  .inicio main a {
    position: absolute;
    color: black; }
  .inicio .imagen-fondo img {
    width: 100%; }

/*home*/
/*header*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body header .navegacion {
    background-color: #FFC700; }
    body header .navegacion .menu {
      padding: 2%; }
      body header .navegacion .menu h1 a img {
        width: 28%; }
        @media screen and (max-width: 400px) {
          body header .navegacion .menu h1 a img {
            max-width: 15%; } }
      body header .navegacion .menu .botones {
        display: flex;
        justify-content: center;
        gap: 10px; }
        body header .navegacion .menu .botones .boton-findus {
          margin-right: 30px;
          display: flex;
          justify-content: center; }
          body header .navegacion .menu .botones .boton-findus a {
            color: #F5F5F5;
            text-decoration: none;
            padding: 10px; }
          body header .navegacion .menu .botones .boton-findus .location {
            margin-top: 8px;
            width: 25px;
            height: 25px; }
        body header .navegacion .menu .botones .boton-signin {
          background-color: #F5F5F5; }
          body header .navegacion .menu .botones .boton-signin a {
            color: #FFC700;
            text-decoration: none; }
        body header .navegacion .menu .botones .boton-joinus {
          background-color: #FFC700;
          border-color: #F5F5F5;
          border-style: solid;
          border-width: 1px; }
          body header .navegacion .menu .botones .boton-joinus a {
            color: #F5F5F5;
            text-decoration: none;
            padding: 10px; }
  body header .voga .logo a {
    display: flex;
    justify-content: center; }
    body header .voga .logo a img {
      display: flex;
      justify-content: center;
      width: 30%; }

/*css home*/
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #FFC700; }
  @media screen and (max-width: 400px) {
    body main {
      height: 80vh; } }
  body main .banner-opticos img {
    width: 100%; }
  body main .banner-sol img {
    width: 100%; }
  body main .banner-beneficios a {
    margin-left: 10%;
    position: absolute;
    font-size: 8rem;
    color: #F5F5F5;
    text-decoration: none;
    font-weight: 900;
    top: 460%;
    left: 50%; }
  body main .banner-beneficios img {
    width: 100%; }

/*footer*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body .social-media {
    background-color: #FFC700;
    text-align: center;
    height: 10vh; }
    body .social-media img {
      height: 30px;
      width: 30px;
      margin: 20px; }

/*lentes opticos*/
/*header*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body header .navegacion {
    background-color: #FFC700; }
    body header .navegacion .menu {
      padding: 2%; }
      body header .navegacion .menu h1 a img {
        width: 28%; }
        @media screen and (max-width: 400px) {
          body header .navegacion .menu h1 a img {
            max-width: 15%; } }
      body header .navegacion .menu .botones {
        display: flex;
        justify-content: center;
        gap: 10px; }
        body header .navegacion .menu .botones .boton-findus {
          margin-right: 30px;
          display: flex;
          justify-content: center; }
          body header .navegacion .menu .botones .boton-findus a {
            color: #F5F5F5;
            text-decoration: none;
            padding: 10px; }
          body header .navegacion .menu .botones .boton-findus .location {
            margin-top: 8px;
            width: 25px;
            height: 25px; }
        body header .navegacion .menu .botones .boton-signin {
          background-color: #F5F5F5; }
          body header .navegacion .menu .botones .boton-signin a {
            color: #FFC700;
            text-decoration: none; }
        body header .navegacion .menu .botones .boton-joinus {
          background-color: #FFC700;
          border-color: #F5F5F5;
          border-style: solid;
          border-width: 1px; }
          body header .navegacion .menu .botones .boton-joinus a {
            color: #F5F5F5;
            text-decoration: none;
            padding: 10px; }
  body header .voga .logo a {
    display: flex;
    justify-content: center; }
    body header .voga .logo a img {
      display: flex;
      justify-content: center;
      width: 30%; }

/*css lentesopticos*/
body {
  font-family: "Kumbh Sans", sans-serif;
  /*banner*/
  /*productos*/ }
  body .imagenes {
    display: flex;
    justify-content: center;
    margin: 4%;
    margin: auto;
    min-width: 80px; }
    body .imagenes img {
      width: 70%; }
  body .productos {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 400px) {
      body .productos {
        margin: auto;
        max-width: 80%; } }
    body .productos div {
      display: flex;
      justify-content: center;
      margin: 20px;
      flex-wrap: wrap; }
      @media screen and (max-width: 400px) {
        body .productos div {
          overflow: scroll;
          padding: 3px;
          margin: 10px;
          flex-wrap: nowrap; } }
      body .productos div img {
        height: 10%;
        width: 10%; }
        @media screen and (max-width: 400px) {
          body .productos div img {
            margin: auto;
            min-width: 30%; } }
      body .productos div .sombra {
        margin: 30px;
        box-shadow: 0px 8px 8px #1a1c2335;
        border-radius: 200px; }

/*footer*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body .social-media {
    background-color: #FFC700;
    text-align: center;
    height: 10vh; }
    body .social-media img {
      height: 30px;
      width: 30px;
      margin: 20px; }

/*lentes de sol*/
/*header*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body header .navegacion {
    background-color: #FFC700; }
    body header .navegacion .menu {
      padding: 2%; }
      body header .navegacion .menu h1 a img {
        width: 28%; }
        @media screen and (max-width: 400px) {
          body header .navegacion .menu h1 a img {
            max-width: 15%; } }
      body header .navegacion .menu .botones {
        display: flex;
        justify-content: center;
        gap: 10px; }
        body header .navegacion .menu .botones .boton-findus {
          margin-right: 30px;
          display: flex;
          justify-content: center; }
          body header .navegacion .menu .botones .boton-findus a {
            color: #F5F5F5;
            text-decoration: none;
            padding: 10px; }
          body header .navegacion .menu .botones .boton-findus .location {
            margin-top: 8px;
            width: 25px;
            height: 25px; }
        body header .navegacion .menu .botones .boton-signin {
          background-color: #F5F5F5; }
          body header .navegacion .menu .botones .boton-signin a {
            color: #FFC700;
            text-decoration: none; }
        body header .navegacion .menu .botones .boton-joinus {
          background-color: #FFC700;
          border-color: #F5F5F5;
          border-style: solid;
          border-width: 1px; }
          body header .navegacion .menu .botones .boton-joinus a {
            color: #F5F5F5;
            text-decoration: none;
            padding: 10px; }
  body header .voga .logo a {
    display: flex;
    justify-content: center; }
    body header .voga .logo a img {
      display: flex;
      justify-content: center;
      width: 30%; }

/*css lentesdesol*/
/*banner*/
.fondo-productos {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #F5F5F5;
  /*productos*/ }
  .fondo-productos .imagenes {
    display: flex;
    justify-content: center;
    margin: 4%;
    margin: auto;
    min-width: 80px; }
    .fondo-productos .imagenes img {
      width: 70%; }
  .fondo-productos .productos {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 400px) {
      .fondo-productos .productos {
        margin: auto;
        max-width: 80%; } }
    .fondo-productos .productos div {
      display: flex;
      justify-content: center;
      margin: 20px;
      flex-wrap: wrap; }
      @media screen and (max-width: 400px) {
        .fondo-productos .productos div {
          overflow: scroll;
          padding: 3px;
          margin: 10px;
          flex-wrap: nowrap; } }
      .fondo-productos .productos div img {
        height: 10%;
        width: 10%; }
        @media screen and (max-width: 400px) {
          .fondo-productos .productos div img {
            margin: auto;
            min-width: 30%; } }
      .fondo-productos .productos div .sombra {
        margin: 30px;
        box-shadow: 0px 8px 8px #1a1c2335;
        border-radius: 200px; }

/*footer*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body .social-media {
    background-color: #FFC700;
    text-align: center;
    height: 10vh; }
    body .social-media img {
      height: 30px;
      width: 30px;
      margin: 20px; }

/*join*/
/*header*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body header .navegacion {
    background-color: #FFC700; }
    body header .navegacion .menu {
      padding: 2%; }
      body header .navegacion .menu h1 a img {
        width: 28%; }
        @media screen and (max-width: 400px) {
          body header .navegacion .menu h1 a img {
            max-width: 15%; } }
      body header .navegacion .menu .botones {
        display: flex;
        justify-content: center;
        gap: 10px; }
        body header .navegacion .menu .botones .boton-findus {
          margin-right: 30px;
          display: flex;
          justify-content: center; }
          body header .navegacion .menu .botones .boton-findus a {
            color: #F5F5F5;
            text-decoration: none;
            padding: 10px; }
          body header .navegacion .menu .botones .boton-findus .location {
            margin-top: 8px;
            width: 25px;
            height: 25px; }
        body header .navegacion .menu .botones .boton-signin {
          background-color: #F5F5F5; }
          body header .navegacion .menu .botones .boton-signin a {
            color: #FFC700;
            text-decoration: none; }
        body header .navegacion .menu .botones .boton-joinus {
          background-color: #FFC700;
          border-color: #F5F5F5;
          border-style: solid;
          border-width: 1px; }
          body header .navegacion .menu .botones .boton-joinus a {
            color: #F5F5F5;
            text-decoration: none;
            padding: 10px; }
  body header .voga .logo a {
    display: flex;
    justify-content: center; }
    body header .voga .logo a img {
      display: flex;
      justify-content: center;
      width: 30%; }

/*css join*/
body {
  font-family: "Kumbh Sans", sans-serif;
  color: #F5F5F5; }
  body .crear-cuenta {
    margin: 20%;
    background-color: black;
    display: flex;
    justify-items: center; }
    body .crear-cuenta .beneficios-voga {
      text-align: center;
      margin: 20px;
      padding: 10px; }
      body .crear-cuenta .beneficios-voga h2 {
        padding-bottom: 50px;
        font-weight: 900;
        letter-spacing: 3px; }
      body .crear-cuenta .beneficios-voga h3 {
        font-size: 1em;
        font-weight: 700; }
    body .crear-cuenta .completar {
      display: block;
      justify-content: center;
      height: 958px;
      width: 888px;
      border-radius: 52px; }
      body .crear-cuenta .completar p {
        text-align: center;
        padding-top: 200px; }
      body .crear-cuenta .completar h4 {
        text-align: center;
        padding: 20px; }
      body .crear-cuenta .completar input {
        margin: 20px;
        padding-left: 20px;
        background-color: #FFC700;
        border-radius: 50px;
        color: #F5F5F5;
        border: 1px solid #F5F5F5;
        outline: 0; }
      body .crear-cuenta .completar ::placeholder {
        color: white;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 0.7em; }
      body .crear-cuenta .completar .info-personal {
        padding-bottom: 10%;
        background-color: aqua;
        gap: 10%; }
      body .crear-cuenta .completar .boton {
        color: #FFC700;
        background-color: #F5F5F5;
        border-radius: 100px;
        padding: 5px 40px 5px 40px;
        border: 0; }
  body .logoFooter {
    display: flex;
    justify-content: center;
    background-color: aqua; }
    body .logoFooter h1 a {
      display: flex;
      justify-content: center; }
      body .logoFooter h1 a img {
        width: 28%; }
        @media screen and (max-width: 400px) {
          body .logoFooter h1 a img {
            max-width: 15%; } }

/*footer*/
body {
  font-family: "Kumbh Sans", sans-serif; }
  body .social-media {
    background-color: #FFC700;
    text-align: center;
    height: 10vh; }
    body .social-media img {
      height: 30px;
      width: 30px;
      margin: 20px; }
