body {
    font-family: $tipo-voga;
    

    header {
        .navegacion {
            background-color: $color-voga;
            @extend diseño-tipo;

            .menu {
                padding: 2%;

                h1 {
                    a {
                        img {
                            width: 28%;
                            @include mobile{
                                max-width:15%;
                            }
                        }
                    }
                }

                .botones {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    .boton-findus{
                        margin-right: 30px;
                        display: flex;
                        justify-content: center;
                        a {
                            color: $color-font;
                            text-decoration: none;
                            padding: 10px;
                            
                    }
                        .location{
                            margin-top: 8px;
                            width: 25px;
                            height: 25px;
    
                        }
                            
                            
                           
                        }
                        .boton-signin{
                            @extend formato-boton;
                                
                                background-color: $color-font;
                            a {
                                color: $color-voga;
                                text-decoration: none;
                                
                        }
                    }

                 .boton-joinus{
                    background-color: $color-voga;
                        border-color: $color-font;
                       border-style: solid;
                       border-width: 1px;
                       @extend formato-boton;
                       
                    a {
                        color: $color-font;
                        text-decoration: none;
                        padding: 10px;
                        
                }

                 }
                    }
                    
                }
            }
            .voga{
            .logo{
                a{
                    display: flex;
                    justify-content: center;
                img{
                    display: flex;
                    justify-content: center;
                    width: 30%;
                }
            }
            }
        }
        }
    }
