
/*inicio*/



    .fondo{
          
         
         .sticky{
            position: sticky;
            top: 0;
            padding: 10vh;

            
         .btn-1{
                 display: flex;
                 justify-content: center;
                 margin-top: 5%;
                 margin-left: 20%;
                
                 @include mobile{
                    margin-top: 60%;
                 }

            .boton-login{
                color: $color-voga;
                text-decoration: none;
                font-size: 3rem;
                padding: 10px 50px;
                background-color: $color-font;
                border-radius: 70px;
                box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);

                @include mobile{
                    font-size: 2rem;
                }

            }
        }

         .btn-2{
            display: flex;
            justify-content: center;
            margin-top: 2%;
            margin-left: 20%;
            .boton-join{
                color: $color-font;
                text-decoration: none;
                font-size: 3rem;
                padding: 10px 70px;
                background-color: $color-voga;
                border-radius: 70px;
                box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);

                @include mobile{
                    font-size: 2rem;
                }

            }
        }
        
        .logo{

            @include mobile{
                width: 50vh;
                height: 50vh;
                top:50%;
                right: 10%;

            }
        }
    }

   

       
        
        a{
            text-decoration: none;
            h1{
                margin-top: 25%;
                display: flex;
                margin-right: 10%;
                margin-bottom: 10%;
                justify-content: center;
                font-size: 7rem;
                color: aliceblue;

                @include mobile{
                    font-size: 5rem;
                }

            }
        }
    }