/*header*/
@import"../navbar/navbar2";


/*css lentesdesol*/

/*banner*/
.header-2{
    font-family: $tipo-voga;
    background-color: $color-font;

    p{
        margin-left: 44%;
        color: $color-font;
        background-color: $color-voga;
        padding: 5px 2px 5px 2px;
        border-radius: 50px;
        width: 200px;
        text-align: center;
        font-size: 1.5rem;

        @include mobile {

            margin: auto;
            max-width: 20%;
            font-size: 0.5rem;
        }
    }




    /*productos*/

    .productos {

        display: flex;
        flex-direction: column;
        margin-bottom: 10%;

        @include mobile {

            margin: auto;
            max-width: 80%;
            padding-right: 8%;
        }

        div {
            display: flex;
            justify-content: center;
            margin: 20px;
            flex-wrap: wrap;

            @include mobile {
                overflow: scroll;
                display: grid;
                gap:10%;
                padding: 0;
                height: 100%;
                width: 100%;

            }

            img {
                height: 10%;
                width: 10%;

                @include mobile {
                    height: 150px;
                    width: 150px;
                    
                }
            }

            .sombra {

                margin: 30px;
                box-shadow: 0px 8px 8px #1a1c2335;
                border-radius: 200px;

            }
        }
    }
}


/*footer*/
@import"../html/footer";