.form-login{
    
    font-family: $tipo-voga;
    color:$color-font;
    display: flex;
    justify-content: center;

.crear-cuenta {
    margin: 10%;
    display: inline-block;
    justify-items: center;

    .beneficios-voga {

        text-align: center;
        margin: 20px;
        padding: 10px;

        h2 {
            padding-bottom: 50px;
            font-weight: 900;
            letter-spacing: 3px;
        }

        

    }

    .completar {
        display: flex;
        justify-content: center;
        padding: auto;

        

                }

        .input-login {
            margin: 2%;
            padding-left: 5%;
            padding-right: 150px;
            background-color: $color-font;
            border-radius: 50px;
            color: $color-font;
            border: 2px solid $color-voga;
            outline: 0;
            

            
        }
        ::placeholder{
            padding-left: 5px;
            color: $color-voga;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 0.7em;

        }

        .info-login {
            text-align: center;
            padding: auto;
            p {
                font-size: 1rem;
                text-align: center;
                padding-top: 20px;
                font-weight: 500;
    
            }
            .btn-entrar{
                margin-top: 10%;
               
            .boton {
                color: $color-font;
                background-color: $color-voga;
                border-radius: 100px;
                padding: 5px 40px 5px 40px;
                
                border: 2px solid $color-font;
               
            }
        }
            
        }
          
            
           
    
    

    }
     
}
.logoFooter{
    padding-top: 20%;
    padding-left: 3%;
    display: flex;
    justify-content: center;
    
   h1 {
        a {
          display: flex;
           justify-content: center;
            img {
                width: 300px;
            
        }
    }
}
}
